* {
  margin: 0;
  padding: 0; }

html {
  font-size: 14px;
  min-width: 1200px; }

ul, li {
  list-style: none; }

.clear {
  clear: both; }

a {
  text-decoration: none;
  color: #0089ff; }

.competition-nav, .login-nav {
  display: none; }

.nav-lists > div:hover .competition-nav-a {
  display: block; }

.header {
  height: 72px;
  width: 100%; }
  .header > div {
    width: 1200px;
    margin: 0 auto;
    padding-top: 10px; }
  .header .logo {
    height: 54px;
    float: left; }
    .header .logo img {
      height: 100%; }
  .header .nav {
    color: #29ABD3;
    height: 40px;
    width: 766px;
    float: right;
    margin-top: 12px; }
    .header .nav a {
      color: #29ABD3; }
    .header .nav .nav-lists {
      display: flex;
      margin-left: 56px; }
      .header .nav .nav-lists > div {
        flex: 1;
        padding: 0 20px 10px 20px;
        height: 40px;
        line-height: 40px; }

.login {
  cursor: pointer; }
  .login > span {
    display: block;
    height: 20px;
    width: 100%;
    border: 1px solid #29ABD3;
    border-radius: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    margin-top: 10px; }

.footer {
  width: 100%; }
  .footer .call {
    width: 100%;
    background-color: #eff9f8; }
    .footer .call > div {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      height: 194px; }
      .footer .call > div > div {
        flex: 1;
        display: flex;
        align-items: center;
        line-height: 24px;
        font-size: 14px;
        color: #007383; }
        .footer .call > div > div > img {
          height: 124px; }
        .footer .call > div > div .call-icon {
          width: 46px;
          margin-right: 14px; }
          .footer .call > div > div .call-icon img {
            width: 100%; }
  .footer .address-init {
    width: 100%;
    background-color: #61c0bf; }
    .footer .address-init > div {
      width: 1200px;
      height: 56px;
      margin: 0 auto;
      display: flex;
      line-height: 34px;
      color: #ffffff; }
      .footer .address-init > div > div {
        flex: 1; }
        .footer .address-init > div > div > div {
          float: right;
          margin-left: 50px; }

.nav-position {
  width: 1200px;
  margin: 0 auto;
  position: relative; }
  .nav-position .login-nav, .nav-position .competition-nav {
    border-radius: 0 0 5px 5px;
    position: absolute;
    top: -1px;
    z-index: 10;
    background: #ffff;
    width: 120px;
    box-shadow: 0px 0px 6px #29ABD3;
    height: auto; }
    .nav-position .login-nav div, .nav-position .competition-nav div {
      line-height: 40px;
      text-align: center;
      border-bottom: 1px #1d77b4 dashed; }
      .nav-position .login-nav div:hover, .nav-position .competition-nav div:hover {
        background-color: rgba(41, 171, 211, 0.34); }
        .nav-position .login-nav div:hover a, .nav-position .competition-nav div:hover a {
          color: #006BD6 !important; }
      .nav-position .login-nav div:nth-last-child(1), .nav-position .competition-nav div:nth-last-child(1) {
        border-bottom: none; }
  .nav-position .login-nav {
    right: -3px; }
  .nav-position .competition-nav {
    right: 502px; }

/*# sourceMappingURL=common2.css.map */
